.categoryList{
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid transparent;
    background-color: var(--boxColor);
    padding: 20px;
    border-radius: 10px;
}

.categoryItem{
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    
}
.style{
    background-color: #57c4ff31;
}
.travel{
    background-color: #8FBC8F;
}
.culture{
    background-color: #FFA500;
}
.food{
    background-color: #8B0000
}
.fashion{
    background-color: hsl(350, 88%, 84%)
}
.coding{
    background-color: hwb(187 51% 19%);
}

