.title{
    padding: 5px 10px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    
    
}

.catContainer{
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 0;
    padding: 10px;
    max-width: fit-content;
   

}
.style{
    background-color: #57c4ff31;
    color: white;
}
.travel{
    background-color: #8FBC8F;
    color: white;
}
.culture{
    background-color: #FFA500;
    color: white;
}
.food{
    background-color: #8B0000;
    color: white;
}
.fashion{
    background-color: hsl(350, 88%, 84%);
    color: white;
}
.coding{
    background-color: hwb(187 51% 19%);
    color: white;
}
